Exersise 1
write a print function that prints "i am  new to phython "

In [ ]:
print('i am new to phython!')

i am new to phython!

Exersise 2 Add a comment

In [ ]:
# this is a single comment
print('i am learing python')

# comments can be added like this as well


print("it possible to write my code blocks without python using")

i am learing python
it possible to write my code blocks without python using

Exersise 3 creat a varible called age and add your age to it

In [ ]:
# bind number 35 to variable 'age'
age = 35 # the value of 35 is assigned to age

# print value of 'age'
print(age)

35

Exersise 4 creat tow input with one taking the name and other taking the age

In [ ]:
name = input ('what is your name?')
print ('hey Haile')
age = input ('how old are you?')
print('i am glad you start learing python at the age of 35')

what is your name?Haile
hey Haile
how old are you?35 years old
i am glad you start learing python at the age of 35

Exersise 5 what is the data type of thise three varible

In [ ]:
#creat int type varible
discount = 43.8 #43.8 is integer

#check type of varible 
type(discount)

float

In [ ]:
#creat float type of varible
hight = 143 #143 is a decimal number with a characteristic and mantissa

#cheak type 
type(hight)

int

In [ ]:
#define a string
address_string = '#301,pelican street'

#cheak type
type(address_string)

str

Exersise 6 make a list of your favourite coor, food and place and save it a list called my_favs

In [ ]:
#define a list
my_favs = ['green','yellow','red']
print(my_favs)

#check length of list
print(len(my_favs))

#check type
type(my_favs)

['green', 'yellow', 'red']
3

list

In [ ]:
#define a list
my_favs = ['pasta','cheken','chese burger']
print(my_favs)

#check length of list
print(len(my_favs))

#check type
type(my_favs)

['pasta', 'cheken', 'chese burger']
3

list

In [ ]:
#define a list
my_favs = ['Washington DC','Mary land','Virginia']
print(my_favs)

#check length of list
print(len(my_favs))

#check type
type(my_favs)

['Washington DC', 'Mary land', 'Virginia']
3

list

Exersise 7 using the rang function from 4 to 40 and then check the length

In [ ]:
# define a range
range_function = range(40)
print(range_function)

# check length of the range
print(len(range_function))

# check type
type(range_function)

range(0, 40)
40

range

In [ ]:
# define range with (start,stop,step)
range_function = range(4,40)
print(range_function)

# check length of the range
print(len(range_function))

# check type
type(range_function)

range(4, 40)
36

range

In [ ]:
# define range with (start,stop,step)
range_function  = range (20,30)
print(range_function)

# check length of the range
print(len(range_function))

# check type
type(range_function)

range(20, 30)
10

range

Exersise 8 make a dictionary with students name and their scores!

In [ ]:
# define a dictionary
b = {'Jake': 70, 'Mako': 75, 'Alex': 78.5}
print(b)

# check type
type(b)

{'Jake': 70, 'Mako': 75, 'Alex': 78.5}

dict

Exersise 9 Create a variable with the value of pi as 3.14, create a new variable as radius and assign it a float value, this will be the radius of a circle and then output the area of the circle using the formula pi*radius^2

In [ ]:
from math import pi
r = float(input ("Input the radius of the circle : "))
print ("The area of the circle with radius " + str(r) + " is: " + str(pi * r**2))

Input the radius of the circle : 3.14
The area of the circle with radius 3.14 is: 30.974846927333925

EXersise 10 In the last excercise you created a program to get the area of a circle , create a print function that checks if the area that your program created is bigger than 50 or not

In [ ]:
# Greater Than 
c = 3.14
r = 30.974846927333925

print(c > r)

False

In [ ]:
# Greater Than or Equal
c = 3.14
r = 30.974846927333925

print(c >= r)

False

In [ ]:
# Less Than 
c = 3.14
r = 30.974846927333925

print(c < r)

True

In [ ]:

# Less Than or Equal 
c = 3.14
r = 30.974846927333925

print(c <= r)

True

In [ ]:
# Equality Test #1
c = 3.14
r = 30.974846927333925

print(c == r)

False

In [ ]:

# Equality Test #2
c = 3.14
r = 30.974846927333925

print(c == r)

False

In [ ]:
# Inequality Test #1
c = 3.14
r = 30.974846927333925

print(c != r)

True

In [ ]:
# Inequality Test #2
c = 3.14
r = 30.974846927333925

print(c != r)

True

Exersise 11 Create a print function for our circle area generator to check if the area is between 20 and 50

In [ ]:
# a and b are true
a = 30.974846927333925
b = 3.14

print(a and b)

3.14

In [ ]:

# only a is true 
a = 20
b = 50

print(a and b)

50

In [ ]:
 # only r is true
r = float(input (" 30: "))
pi = 3.14
print ("20 " + str(r) + " is:50 " + str(pi * r**2))

 30: 3.14
20 3.14 is:50 30.959144000000002

In [ ]:
# a and b are true
a = 20
b = 50

print(a and b)

50

In [ ]:
# set values of x, y and z for numeric operators exploration
x = 3.14  # integer value
y = 2.0 # float value
z = x,y # negative integer

#(run this cell to initialize values for the next few cells!)
type( z)

tuple